<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<title></title>
		<meta name="description" content="">
		<meta name="viewport" content="width=device-width">

		<!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

		<link href="{{ root_url }}/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css">

		<script src="{{ root_url }}/javascripts/modernizr-2.0.min.js"></script>
	</head>
	<body>

		<header>
			<nav class="main_nav">
			</nav>
		</header>

		<section class="logo_area">
			<span class="main_logo">5eleven.net</span>
			<h1>Web Designer &amp; Front-End Developer</h1>
			<h4>Handcrafted. Made in Hawaii.</h4>
		</section>

		<section class="design_stuff">
			<h1>I design and code stuff. That's all to it!</h1>
		</section>

		<section class="work_stuff">
			<h1>Current Work</h1>
			<h4>"Yeah, I just state at my desk; but it looks like i'm working."</h4>
		</section>

		<section class="project_stuff">
			<h1>Other Projects I've worked on...</h1>
			<h4>At Design Agencies, In-House, &amp; Freelancing</h4>
				<ul class="block-grid mobile three-up">
					<li>9th MSC/US Army Reserves</li>
					<li>African American Diversity Cultural Center</li>
					<li>Chris "The Crippler" Leben</li>
					<li>Closet Fetish</li>
					<li>Coalition for a Tobacco Free Hawaii</li>
					<li>CGAPS Hawaii</li>
					<li>DJ Qbert/Thud Rumble</li>
					<li>Egan Inoue</li>
					<li>EC Hawaii/ Department of Health, Hawaii</li>
					<li>Friends of Italy/Cinema Italiano Hawaii</li>
					<li>Foreign Trade Zone 9</li>
					<li>ForumsHawaii/SpeedHawaii
					<li>Green Bottle Productions</li>
					<li>Hawaii Execturive Suties</li>
					<li>Hawaii In-Style TV</li>
					<li>Hawaii Pacific Entertainment</li>
					<li>Heathly Mothers, Heatlhy Babies</li>
					<li>Helping Hands Hawaii</li>
					<li>Hydroseed Hawaii</li>
					<li>Imagine Wurks</li>
					<li>Indigo Restaraunt &amp; Bar</li>
					<li>Kanu Hawaii</li>
					<li>Kai Vodka</li>
					<li>Kalihi Palama Health Center</li>
					<li>Progressive Communications Hawaii</li>
					<li>Miss Hawaii</li>
					<li>Mothers Against Drunk Driving</li>
					<li>Na Leo O' Hawaii</li>
					<li>Occasions Hawaii</li>
					<li>Pacific News Bytes Magazine</li>
					<li>Pacific Telecommunucations Council</li>
					<li>Time Warner Oceanic Cable/OC16</li>
					<li>Try Me Bicycle</li>
					<li>Sergio's Restaurant</li>
					<li>Teenline Hawaii</li>
					<li>Tropical Turfgrass</li>
					<li>Waikiki Beachside Hostel</li>
					<li>World Famous Company</li>
					<li>Ukulele Essence</li>
					<li>UH Cancer Reserach Center</li>
					<li>Xterra/Team Unlimited LLC</li>

				</ul>
		</section>

		<section class="whois_stuff">
			<h1>Whois</h1>
			<h4>Web Designer, Developer, Geek, Gamer &amp; Internet Ally</h4>
		</section>

		<section class="skills_stuff">
			<h1>Skills</h1>
			<h4>A Potent Brew of Code, Graphics &amp; Caffiene</h4>
		</section>

		<section class="contact_stuff">
			<h1>Contact</h1>
			<h4>No Spam. Bacon is welcomed.</h4>
		</section>

		<footer></footer>

		<!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
		<script>
			var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
			(function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
			g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
			s.parentNode.insertBefore(g,s)}(document,'script'));
		</script>
	</body>
</html>