<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<title>5eleven.net | Designer &amp; Front-End Developer</title>
		<meta name="description" content="">
		<meta name="viewport" content="width=device-width">

		<!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

		<link href="{{ root_url }}/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css">

		<script src="{{ root_url }}/js/modernizr.min.js"></script>

		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>

		<link href='http://fonts.googleapis.com/css?family=News+Cycle' rel='stylesheet' type='text/css'>


<script type="text/javascript">
    // Avoid conflict with ender.js.
    jQuery.noConflict();
</script>
<!-- jQuery Form Plugin -->
<script src="http://malsup.github.com/jquery.form.js"></script>
<!-- jQuery Form Validation Plugin -->
<script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.9/jquery.validate.min.js"></script> 
<script src="{{ root_url }}/js/google_form.js"></script>









	</head>
	<body id="top">



		<nav class="main_nav">
			<ul class="scroll-nav main-menu">
				<li><a href="#work">Work</a></li><li><a href="#whois">Whois</a></li><li><a href="#top">Top</a></li><li><a href="#skills">Skills</a></li><li><a href="#connect">Connect</a></li>
			</ul>
		</nav>


		<nav class="part2">


		</nav>


		<header class="logo_stuff">
			<span class="main_logo">5eleven.net</span>
			<h1>Designer &amp; Front-End Developer</h1>
			<ul class="heading-social">
				<li><a href="http://twitter.com/5e11even" target="_blank">Twitter</a></li><li><a href="http://forrst/com/5eleven" target="blank">Forrst</a></li><li><a href="http://dribbble.com/5eleven" target="_blank">Dribbble</a></li><li><a href="#connect">Email</a></li>
			</ul>
			<h2 class="small"><span>Handcrafted.</span> <span>Made in Hawaii.<span></h2>
		</header>

		<section class="work_stuff stuffs waypoint" id="work">
			
			<div class="row text_center">
				<h1>Selected Work</h1>
				<h2 class="small">"Yeah, I just stare at my desk; but it looks like I'm working."</h2>
			</div>

			<div class="row">
				<div class="twelve columns">
					<ul class="block-grid four-up">
						<li>
							<a href="#" class="work-link">
								<img src="{{ root_url }}/images/temp-piece.jpg" alt="Temp">
							</a>
						</li>
												<li>
							<a href="#" class="work-link">
								<img src="{{ root_url }}/images/temp-piece.jpg" alt="Temp">
							</a>
						</li>
												<li>
							<a href="#" class="work-link">
								<img src="{{ root_url }}/images/temp-piece.jpg" alt="Temp">
							</a>
						</li>
												<li>
							<a href="#" class="work-link">
								<img src="{{ root_url }}/images/temp-piece.jpg" alt="Temp">
							</a>
						</li>
					</ul>
				</div>
			</div>

			<div class="row text_center">
				<h5>Other Projects I've worked on at Design Agencies, In-House, &amp; Freelancing</h5>
			</div>
			<div class="row">
				<div class="nine columns centered">
				<ul class="block-grid mobile three-up">
					<li>9th MSC/US Army Reserves</li>
					<li>African American Diversity Cultural Center</li>
					<li>Chris "The Crippler" Leben</li>
					<li>Closet Fetish</li>
					<li>Coalition for a Tobacco Free Hawaii</li>
					<li>CGAPS Hawaii</li>
					<li>DJ Qbert/Thud Rumble</li>
					<li>Egan Inoue</li>
					<li>EC Hawaii/ Department of Health, Hawaii</li>
					<li>Friends of Italy/Cinema Italiano Hawaii</li>
					<li>Foreign Trade Zone 9</li>
					<li>ForumsHawaii/SpeedHawaii
					<li>Green Bottle Productions</li>
					<li>Hawaii Execturive Suties</li>
					<li>Hawaii In-Style TV</li>
					<li>Hawaii Pacific Entertainment</li>
					<li>Heathly Mothers, Heatlhy Babies</li>
					<li>Helping Hands Hawaii</li>
					<li>Hydroseed Hawaii</li>
					<li>Imagine Wurks</li>
					<li>Indigo Restaraunt &amp; Bar</li>
					<li>Kanu Hawaii</li>
					<li>Kai Vodka</li>
					<li>Kalihi Palama Health Center</li>
					<li>Progressive Communications Hawaii</li>
					<li>Miss Hawaii</li>
					<li>Mothers Against Drunk Driving</li>
					<li>Na Leo O' Hawaii</li>
					<li>Occasions Hawaii</li>
					<li>Pacific News Bytes Magazine</li>
					<li>Pacific Telecommunucations Council</li>
					<li>Time Warner Oceanic Cable/OC16</li>
					<li>Try Me Bicycle</li>
					<li>Sergio's Restaurant</li>
					<li>Teenline Hawaii</li>
					<li>Tropical Turfgrass</li>
					<li>Waikiki Beachside Hostel</li>
					<li>World Famous Company</li>
					<li>Ukulele Essence</li>
					<li>UH Cancer Reserach Center</li>
					<li>Xterra/Team Unlimited LLC</li>
				</ul>
			</div>
			</div>
			
		</section>

		<section class="whois_stuff waypoint" id="whois">
			
			<div class="row text_center">
				<h1>Whois</h1>
				<h2 class="small">Designer, Developer, Gamer &amp; Your Internet Ally</h2>
			</div>

			<div class="row">
				<div class="seven columns centered">
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin erat sapien, hendrerit euismod iaculis quis, volutpat eget urna. Proin a purus eget justo eleifend vehicula id vel metus. Nulla facilisi. Vestibulum et orci sit amet nibh mattis malesuada aliquet vestibulum mi. Vestibulum mauris nisi, pharetra fermentum aliquet nec, vehicula quis leo. Cras quis nisl cursus tellus blandit fringilla eget vitae quam. Pellentesque molestie porttitor tempor. Quisque laoreet, dolor at suscipit porta, eros augue sollicitudin ligula, ac suscipit magna mi et lorem. Nulla lorem ligula, vehicula et suscipit ut, volutpat eget nibh. Etiam at dui enim. Nulla ac metus eros.</p>

					<p>Fusce quis erat odio, in iaculis metus. Nunc augue quam, eleifend vitae luctus venenatis, mollis ac libero. Integer nisl tellus, ullamcorper id ullamcorper eu, accumsan et est. Sed a libero neque. Nunc porttitor lorem eleifend sem scelerisque eleifend. Maecenas vulputate semper vehicula. Cras accumsan aliquet odio quis posuere. Cras malesuada faucibus purus et porttitor. Cras luctus, ante vitae ultricies pellentesque, dolor magna fringilla nisi, vel pharetra nulla purus venenatis diam. In hac habitasse platea dictumst. Aenean feugiat augue et ligula lacinia tristique. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Curabitur at magna id diam pretium sodales auctor sed mauris.</p>
				</div>

			</div>

			
		</section>

		<section class="skills_stuff waypoint" id="skills">
			
			<div class="row text_center">
				<h1>Skills</h1>
				<h2 class="small">A Potent Brew of Code, Graphics &amp; Caffiene</h2>
			</div>

			<div class="row">
				<div class="seven columns centered">
					<p>It seems that a lot of designers and developers like to show a graph of skills that shows their strengths and weaknesses. I have no idea how to measure my skills like that and I will show no such thing! I am not saying I am the best at everything I do, but I am also not going to graph weaknesses. Here is a list of things I can do what my work process is like. No, I will not fix your email.</p>
				</div>
			</div>


			<div class="row">
				<div class="eleven columns centered">
					<ul class="block-grid mobile three-up text_center">
						<li>
							<span class="skills-img main-stuff"></span>
							<h4>The Main Stuff</h4>
							<ul>
								<li>HTML/CSS (Sass/Compass)</li>
								<li>JavaScript/jQuery</li>
								<li>User Interface Design</li>
								<li>User Expereince (UX)</li>
								<li>Responsive Web Design</li>
								<li>Ecommerce Development</li>
							</ul>
						<li>
							<span class="skills-img the-side"></span>
							<h4>On the Side</h4>
							<ul>
								<li>Graphic Art &amp; Design</li>
								<li>Print &amp; Layout Design</li>
								<li>Logo Design</li>
								<li>Photography</li>
								<li>Video Production</li>
								<li>Search Engine Optimization</li>
							</ul>
						</li>
						<li><span class="skills-img git-r-done"></span>
							<h4>How it gets Done</h4>
							<ul>
								<li>Adobe Creative Suite</li>
								<li>Adobe Lightroom</li>
								<li>Sublime Text 2</li>
								<li>Codekit</li>
								<li>Terminal</li>
								<li>GIT</li>
							</ul>
						</li>
					</ul>
				</div>
			</div>
			
		</section>

		<section class="connect_stuff waypoint" id="connect">
			
			<div class="row text_center">
				<h1>Connect</h1>
				<h2 class="small">No Spam. Bacon is welcomed.</h2>
			</div>

			<div class="row">
				<div class="seven columns centered">
					<p>
					I am very selective on what projects to take on. If you want to know what kind of work you will get for "$100", no offense, go to craigslist. I work on an hourly basis and want to make sure time is maximized effectivly to deliver a great product.</p>

					<p class="text_center availability"><span class="not-available">Not Available</span> for freelance work.
					</p>
				</div>
			</div>

			<div class="row">
				<div class="seven columns centered">


 <div class="google-form-wrapper">

 	<p class='success-msg'>Thanks. I&#8217;ll get back to you shortly!</p>

 	<form action="https://docs.google.com/forms/d/19s2ceDAnKiYSCD04ZdGLD4Nr8LkKlXwSHNCXuc21T3A/formResponse" method="POST" id="ss-form" target="_self" onsubmit="">


<div class="errorbox-good">
<div dir="ltr" class="ss-item ss-item-required ss-text"><div class="ss-form-entry"><label class="ss-q-item-label" for="entry_1153824566"><div class="ss-q-title">Name
<label for="itemView.getDomIdToLabel()" aria-label="(Required field)"></label>
<span class="ss-required-asterisk">*</span></div>
<div class="ss-q-help" dir="ltr"></div></label>
<input type="text" name="entry.1153824566" value="" class="ss-q-short" id="entry_1153824566" dir="auto" aria-required="true">
</div></div></div> <div class="errorbox-good">
<div dir="ltr" class="ss-item  ss-text"><div class="ss-form-entry"><label class="ss-q-item-label" for="entry_75457330"><div class="ss-q-title">Email
</div>
<div class="ss-q-help" dir="ltr"></div></label>
<input type="text" name="entry.75457330" value="" class="ss-q-short" id="entry_75457330" dir="auto">
</div></div></div> <div class="errorbox-good">
<div dir="ltr" class="ss-item  ss-text"><div class="ss-form-entry"><label class="ss-q-item-label" for="entry_2092748175"><div class="ss-q-title">Subject
</div>
<div class="ss-q-help" dir="ltr"></div></label>
<input type="text" name="entry.2092748175" value="" class="ss-q-short" id="entry_2092748175" dir="auto">
</div></div></div> <div class="errorbox-good">
<div dir="ltr" class="ss-item  ss-paragraph-text"><div class="ss-form-entry"><label class="ss-q-item-label" for="entry_1279192349"><div class="ss-q-title">Message
</div>
<div class="ss-q-help" dir="ltr"></div></label>
<textarea name="entry.1279192349" rows="8" cols="0" class="ss-q-long" id="entry_1279192349" dir="auto"></textarea>
</div></div></div>
<input type="hidden" name="draftResponse" value="[]
">
<input type="hidden" name="pageHistory" value="0">


<div class="ss-item ss-navigate"><div class="ss-form-entry">
<input type="submit" name="submit" value="Submit" id="ss-submit"></div></div></form>


</div>



				</div>
			</div>

			<div class="row text_center">
				<div class="six columns centered getting_social">
				<h2 class="small">Getting Social</h2>
				<p>Follow and I'll follow back!</p>
			<ul class="heading-social">
				<li><a href="http://twitter.com/5e11even" target="_blank">Twitter</a></li><li><a href="http://forrst/com/5eleven" target="blank">Forrst</a></li><li><a href="http://dribbble.com/5eleven" target="_blank">Dribbble</a></li><li><a href="#connect">Email</a></li>
			</ul>
			</div>
			</div>

		</section>

		<footer>
			<div class="copyrights-n-shit">
				<h6>BRO, DO YOU EVEN GIT?</h6>
				<br>&copy; <span>2013 5eleven.net</span>
			</div>
		</footer>

		<!-- JS -->


		<script src="{{ root_url }}/js/home.main.min.js"></script>
		<script src="{{ root_url }}/js/waypoints.min.js"></script>
		<script src="{{ root_url }}/js/jquery.easing.1.3.min.js"></script>

		<!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
		<script>
			var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
			(function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
			g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
			s.parentNode.insertBefore(g,s)}(document,'script'));
		</script>
	</body>
</html>