body {
	background: url(../images/main-bg.png);
	@include defaultFontFamily;
}

/* Local Area ---------------------- */

.text_center {
	text-align: center;
}

/* Logo Area ---------------------- */

.main_logo {
	background: url(../images/main_logo.png) no-repeat;
	display: block;
	margin: 0 auto;
	height: 300px;
	width: 300px;
	text-indent: -9999px;
	overflow: hidden;
}

.logo_stuff {
	text-align: center;
}