@import url(http://fonts.googleapis.com/css?family=News+Cycle);
@import url(http://fonts.googleapis.com/css?family=Abril+Fatface);

/* Variables ---------------------- */
$default-text-color: #6f6f6f;

//Color Pallet
$turquoise: #242428;
$turquoise-shadow: #0e6d88;
$orange: #e15649;
$orange-shadow: #9e3c33;
$tan: #f5eedb;
$khaki: #ebe1c0;
$khaki-shadow: #f5eedb;
$brown: #483a3a;
$brown-shadow: #332929;
$gray: #202024;
$gray-shadow: #17171a;

/* Mixins ---------------------- */

//Font size
@mixin font-size($size, $is-important: false) {
	@if $is-important {
		font-size: $size + px !important;
		font-size: ($size / 10) + rem !important;
	} @else {
		font-size: $size + px;
		font-size: ($size / 10) + rem;
	}
}

//Font Families
@mixin defaultFontFamily {
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	font-weight: 300;
}

@mixin headingFont {
	font-family: 'Abril Fatface', cursive;
	color: #000;
}

//Background Cover

@mixin background-cover {
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

//Universal Clear

@mixin clear {
	content: "";
	display: table;
	clear: both;
}

* {
	-webkit-padding-start: 0px;
}
