.waypoint {
	padding: 100px 0;
}

/* Logo Area ---------------------- */

.logo_stuff {
	padding: 90px 0;
	text-align: center;
	background: url(../images/headerbg2.jpg) no-repeat center bottom;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	color: #454545;
	h1 {
		margin-bottom: 14px;
	}
}

.main_logo {
	background: url(../images/main_logo.png) no-repeat;
	display: block;
	margin: 0 auto;
	height: 274px;
	width: 275px;
	text-indent: -9999px;
	overflow: hidden;
	margin-bottom: 14px;
}

@media only screen and (max-width: 767px) {
	.logo_stuff {
		padding: 60px 0;
	}
}

/* Work Stuff ---------------------- */

.work_stuff {

}

.work-link {

	img {
		border-radius: 50%;
		box-shadow: 0px 1px 2px rgba(50, 50, 50, 0.50);
		position: relative;
	}
}

/* Whois Stuff ---------------------- */

.whois_stuff {
	background: $gray-shadow;
}

/* Skills Stuff ---------------------- */
.skills_stuff {
	background: url(../images/skills-bg.jpg);
	color: #fff;

}

.skills-img {
	display: block;
	height: 128px;
	background: no-repeat center bottom;
	&.main-stuff {
		background-image: url(../images/skills-croffie.png);
	}
	&.the-side {
		background-image: url(../images/skills-cupofchinno.png);
	}
	&.git-r-done {
		background-image: url(../images/skills-511energy.png);
	}
}

/* Footer Stuff ---------------------- */

footer {
	color: #fff;
	background: $turquoise;
	text-align: center;
	padding: 100px 0;
	h6 {
		color: #fff;
		letter-spacing: .1rem;
	}
}

.copyrights-n-shit {
	@include font-size(7.5);
	text-transform: uppercase;
	span {
		letter-spacing: .2rem;
	}

}