.waypoint {
	padding: 100px 0;
}

@media only screen and (max-width: 767px) {
	.waypoint {
		padding: 60px 0;
	}
}

/* Logo Area ---------------------- */

.logo_stuff {
	padding: 90px 0;
	text-align: center;
	background: #fefefe url(../images/headerbg2.jpg) no-repeat center bottom;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	color: #454545;
	border-bottom: #020202 2px solid;
	h1 {
	}
}

.main_logo {
	background: url(../images/main_logo.png) no-repeat;
	display: block;
	margin: 0 auto;
	height: 274px;
	width: 275px;
	text-indent: -9999px;
	overflow: hidden;
	margin-bottom: 14px;
}

.heading-social {
	padding-bottom: 14px;
	li {
		display: inline;
		a {
			display: inline-block;
			text-indent: -9999px;
			overflow: hidden;
			background: $light-gray;
			height: 40px;
			width: 40px;
			margin: 0 5px;
			border-radius: 30px;
			&:hover {
				background: $orange;
			}
		}
	}
}

@media only screen and (max-width: 767px) {
	.logo_stuff {
		padding: 60px 0;
	}
}

@media only screen and (max-width: 480px) {
	.logo_stuff {
		h2 {
			margin: 0 0 14px 0;
			span {
				display: block;
			}
		}
	}
}

/* Work Stuff ---------------------- */

.work_stuff {

}

.work-link {

	img {
		border-radius: 50%;
		box-shadow: 0px 1px 2px rgba(50, 50, 50, 0.50);
		position: relative;
	}
}

/* Whois Stuff ---------------------- */

.whois_stuff {
	background: $gray;
	color: $tan;
	h1, h2 {
		color: $tan;
	}
}

/* Skills Stuff ---------------------- */
.skills_stuff {
	background: $turquoise url(../images/skills-bg.jpg);
	color: #fff;
	h1, h2, h4 {
		color: #fff;
	}
	h4 {
		padding: 10px 0;
	}
	ul {
		padding: 5px 0;
		li {
			padding: 3px 0;
			display: block;
		}
	}
}

.skills-img {
	display: block;
	height: 128px;
	background: no-repeat center bottom;
	&.main-stuff {
		background-image: url(../images/skills-croffie.png);
	}
	&.the-side {
		background-image: url(../images/skills-cupofchinno.png);
	}
	&.git-r-done {
		background-image: url(../images/skills-511energy.png);
	}
}

/* Connect Stuff ---------------------- */

.availability {
	border-top: #ccc 1px dotted;
	border-bottom: #ccc 1px dotted;
	padding: 6px 0;
	text-transform: uppercase;
	@include font-size(7.5)
}

.available {
	color: #fff;
	background: $turquoise;
	padding: 4px;
}

.not-available {
	color: #fff;
	background: $orange;
	padding: 4px;
}

.getting_social {
	.small, p {
		padding: 0;
	}
}






.google-form-wrapper {
  .error {
    color: red;
    font-size: 12px;
  }
  .errorbox-good {
    margin-bottom: 20px;
  }
  .success-msg {
    display: none;
    &.active {
    	display: block;
    }
  }
  .ss-form-entry {
    label {
      display:block;
    }
    input {
      display: block;
      padding: 5px;
      width: 250px;
      font: inherit;
    }
    textarea {
      width: 450px;
      padding: 5px;
      font: inherit;
    }
  }
  .ss-navigate input {
    width: auto;
    cursor: pointer;
  }
  .form-error {
  	display: none;
  }
}








/* Footer Stuff ---------------------- */

footer {
	color: #fff;
	background: $orange;
	text-align: center;
	padding: 100px 0;
	h6 {
		color: #fff;
		letter-spacing: .1rem;
	}
}

.copyrights-n-shit {
	@include font-size(7.5);
	text-transform: uppercase;
	span {
		letter-spacing: .2rem;
	}

}